.Banner {
    height: 120px;
    width: "100%";
    background-image: url(https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png);
    background-size: cover;
}

.home_thumbnail_title {
    text-decoration: none;
}

.active_icon {
    color : red
}

.socialmedia_icon{
    width:25px;
    margin-right: 4px;
    margin-bottom: 4px;
}

.width-100-px {
    width:100px;
}

.width-170-px {
    width:170px;
}


