.span-class{
    background-color: red;
    color: white;
    font-weight: 600;
}

.span-class1{
    font-weight: 600;
}

.icons {
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 180px;
}

.light {
    background-color: #fafafa;
    color: #1f2023;
  }
  
.dark {
    background-color: #1f2023;
    color: #efefef;
  }

.normalText {
    color: #1f2023;
  }
.userprofile {
    height: 30px;
    width: 30px;
}