.sidebar-component {
    height: 30vh;
}

/* body {
    overflow:hidden;
} */

.sidebar_content i{
    font-size: 20px;
}

.sidebar_content{
    font-size: 18px;
    text-decoration: none;
}

.active_icon {
    color : red
}

.socialmedia{
    width:25px;
}

.width-100-px {
    width:100px;
}

.width-170-px {
    width:170px;
}