.banner_component {
    height: 25vh;
    background-color:cadetblue;
}

.thumbnail_image {
    width: 200px;
    max-width: 300px;
    max-height: 200px;
}
.channel_description p {
    margin-bottom: 0;
    font-size: 11px;
}

.channel_logo img{
    width: 50;
    height: 50px;
}

